@charset "UTF-8";
*{
    margin: -1px;
    padding: 10px;
}

body{
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 38px;

}
p.subtítulo{
    font-size: 25px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 36px;
}

p{
    text-align: left;
    font-size: 20px;
}
img.especial{
    width: 400px;
    height: 400px;
}
a{
    margin: 5px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: 9ms;
}
a:hover{
    background-color: black;
    color: white;
}
a:active{
    background-color: rgb(197, 255, 236);
    color: rgb(215, 178, 249);
}