@charset "UTF-8";

body{
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: left;
}

h1{
    text-align: center;
    font-size: 30px;
}
p.subtítulo{
    font-size: 26px;
}

h2{
    text-align: center;
    font-size: 25px;
}

p{
    text-align: right;
    font-size: 20px;
}
img.especial{
    width: 400px;
    height: 400px;
}