@charset "UTF-8";

body{
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    font-size: 38px;
}
p.subtítulo{
    font-size: 25px;
}

h2{
    text-align: center;
    font-size: 36px;
}

p{
    text-align: right;
    font-size: 20px;
}
img.especial{
    width: 400px;
    height: 400px;
}